extends layout

block content
   .navbar
      h1 EZBooks
      p A search tool for Google Books

      form(method='POST' action='/')
       div.form-group

         input#title.form-control(type='text', placeholder='Name of book' name='title_query' required='true' )

         button.btn.btn-primary(type='submit') Submit

